<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>17/09/18 14:08:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ControlsGlobalMedia.ControlsLogin()[pri:0, instance:com.test.ControlsGlobalMedia@5442a311]">&gt;&gt;ControlsLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/09/18 14:09:11</td>   <td>62429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ControlsGlobalMedia.RatingReview()[pri:3, instance:com.test.ControlsGlobalMedia@5442a311]">RatingReview</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/09/18 14:17:10</td>   <td>541339</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ControlsGlobalMedia.RiskLogout()[pri:0, instance:com.test.ControlsGlobalMedia@5442a311]">&lt;&lt;RiskLogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
</table>
