<h2>Reporter output</h2><table><tr><td>Broser Launched successfully | </td></tr>
<tr><td>Enter EmailID successfully | </td></tr>
<tr><td>Enter Password successfully | </td></tr>
<tr><td>Click on SignIN button successfully | </td></tr>
<tr><td>Close the dashboard Module | </td></tr>
<tr><td>Select Risk Determination sidebar-left Module | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on 1st Vulnerability link | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on 2nd Vulnerability link | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on 3rd Vulnerability link | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on 4th Vulnerability link | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on 5th Vulnerability link | </td></tr>
<tr><td>Click on rating review sub-module | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Notes button to add text | </td></tr>
<tr><td>Click on New button in Notes pop-up window | </td></tr>
<tr><td>Enter Text for Note textarea | </td></tr>
<tr><td>Click on Create Button | </td></tr>
<tr><td>Click on Close button in popup | </td></tr>
<tr><td>Click on Account drop-down  | </td></tr>
<tr><td>Click on Logout button  | </td></tr>
<tr><td>Browser Quit | </td></tr>
</table>