<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:34:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddAsset.AssetLogin()[pri:0, instance:com.test.AddAsset@6a03af]">&gt;&gt;AssetLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:43:19</td>   <td>509743</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddAsset.AssetLogout()[pri:0, instance:com.test.AddAsset@6a03af]">&lt;&lt;AssetLogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:39:11</td>   <td>261254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAsset.EditAsset()[pri:0, instance:com.test.AddAsset@6a03af]">EditAsset</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>17/09/20 14:30:39</td>   <td>-250594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EntityManagement.EntityList()[pri:0, instance:com.test.EntityManagement@1d4e2ba]">EntityList</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>17/09/20 14:28:37</td>   <td>-372495</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EntityManagement.EntityLogin()[pri:0, instance:com.test.EntityManagement@1d4e2ba]">&gt;&gt;EntityLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>17/09/20 14:34:08</td>   <td>-41715</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EntityManagement.EntityLogout()[pri:0, instance:com.test.EntityManagement@1d4e2ba]">&lt;&lt;EntityLogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>17/09/20 14:32:26</td>   <td>-143461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EntityManagement.EntityTags()[pri:0, instance:com.test.EntityManagement@1d4e2ba]">EntityTags</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:36:03</td>   <td>72863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAsset.FirstAsset()[pri:0, instance:com.test.AddAsset@6a03af]">FirstAsset</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:40:01</td>   <td>310819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAsset.MediaAssetGroups()[pri:0, instance:com.test.AddAsset@6a03af]">MediaAssetGroups</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/09/20 14:37:51</td>   <td>181542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAsset.NewAddAsset()[pri:0, instance:com.test.AddAsset@6a03af]">NewAddAsset</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>17/09/20 14:45:23</td>   <td>633577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RiskDetermination.RQLBackUp()[pri:0, instance:com.test.RiskDetermination@1e0f4f]">RQLBackUp</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>17/09/20 14:45:44</td>   <td>653810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RiskDetermination.RQLPager()[pri:0, instance:com.test.RiskDetermination@1e0f4f]">RQLPager</td> 
  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>17/09/20 14:44:05</td>   <td>555594</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RiskDetermination.RiskLogin()[pri:0, instance:com.test.RiskDetermination@1e0f4f]">&gt;&gt;RiskLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>17/09/20 14:46:04</td>   <td>673863</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RiskDetermination.RiskLogout()[pri:0, instance:com.test.RiskDetermination@1e0f4f]">&lt;&lt;RiskLogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29091304</td>   <td></td> </tr>
<tr bgcolor="afffde">  <td>17/09/20 14:33:37</td>   <td>-72427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EntityManagement.SelectEntityFromHeader()[pri:0, instance:com.test.EntityManagement@1d4e2ba]">SelectEntityFromHeader</td> 
  <td>main@29091304</td>   <td></td> </tr>
</table>
